[project]
name = "advent-of-code"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "google-re2>=1.1.20240702",
    "ipykernel>=7.1.0",
    "pywatchman>=2.0.0",
]

[dependency-groups]
dev = []
